<!DOCTYPE html>
<html lang="no" ng-app="emneeval-app">
<head>
  <title>Emneevaluering {{courseCode}}</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script src="dependencies/vendor/META-INF/resources/webjars/jquery/3.3.1-1/jquery.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angularjs/1.7.0/angular.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angular-route/1.7.0/angular-route.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/popper.js/1.14.1/umd/popper.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="common.js"></script>
  <link href="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">

</head>
<body ng-controller="SubjectController">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1>Emneevaluering {{courseCode}} {{semester}}</h1>
        <p>Vennligst gi tilbakemelding om emnet {{courseCode}}</p>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Hvor fornøyd er du?</h5>
        </div>
        <div class="card-body">
          <div ng-repeat="happy in happyList">
            <div class="form-check">
              <input class="form-check-input" id="radioHappy-{{happy.value}}"
                     ng-click="updateChosenHappy(happy)"
                     ng-model="happy.checked" ng-value="happy.value" type="radio">
              <label class="form-check-label" for="radioHappy-{{happy.value}}"
                     ng-click="updateChosenHappy(happy)">
                {{happy.text}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Hvor mye har du lært?</h5>
        </div>
        <div class="card-body">
          <div ng-repeat="learned in learnedList">
            <div class="form-check">
              <input class="form-check-input" id="radioLearned-{{learned.value}}"
                     ng-click="updateChosenLearned(learned)"
                     ng-model="learned.checked" ng-value="learned.value" type="radio">
              <label class="form-check-label" for="radioLearned-{{learned.value}}"
                     ng-click="updateChosenLearned(learned)">
                {{learned.text}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Forstår du det du har lært? {{selectedValue}}</h5>
        </div>
        <div class="card-body">
          <div ng-repeat="understand in understandList">
            <div class="form-check">
              <input class="form-check-input" id="radioUnderstand-{{understand.value}}"
                     ng-click="updateChosenUnderstand(understand)"
                     ng-model="understand.checked" ng-value="understand.value" type="radio">
              <label class="form-check-label" for="radioUnderstand-{{understand.value}}"
                     ng-click="updateChosenUnderstand(understand)">
                {{understand.text}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Hva er positivt med emnet?</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <textarea class="form-control" id="positiveTextarea" ng-model="positiveComment" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Hva kunne vært gjort anderledes?</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <textarea class="form-control" id="betterTextarea" ng-model="betterComment" rows="2"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Andre kommentarer?</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <textarea class="form-control" id="otherTextarea" ng-model="otherComment" rows="2"></textarea>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Følger du undervisning på Campus eller nett?</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">På campus
                <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>På campus</li>
                <li>På nett</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary" ng-click="postFeedback()" type="button">Lever tilbakemelding
      </button>
    </div>
  </div>
</div>
</body>
</html>
