<!DOCTYPE html>
<html lang="no" ng-app="emneeval-app">
<head>
  <title>Emneevaluering {{courseCode}} {{semester}}</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script src="dependencies/vendor/META-INF/resources/webjars/jquery/3.3.1-1/jquery.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angularjs/1.7.0/angular.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angular-route/1.7.0/angular-route.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/popper.js/1.14.1/umd/popper.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/chartjs/2.7.3/Chart.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angular-chart.js/1.1.1/dist/angular-chart.js"></script>
  <script src="chart.js"></script>
  <link href="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">

</head>
<body ng-controller="ChartController">

<div class="container">
  <div class="jumbotron">
    <h1>Emneevaluering {{courseCode}} {{semester}}</h1>
    <p>Resultater om tilbakemelding om emnet. Antall besvarelser ({{numberReplied}})</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Hva mener studentene er positivt med emne
        </div>
        <div class="card-body">
          <div class="form-group row" ng-repeat="comment in positiveComments track by $index">
            <textarea class="form-control" ng-model="comment" readonly rows="1"> </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Hva mener studentene kunne vært anderledes
        </div>
        <div class="card-body">
          <div class="form-group row" ng-repeat="comment in betterComments track by $index">
            <textarea class="form-control" ng-model="comment" readonly rows="1"> </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Andre kommentarer
        </div>
        <div class="card-body">
          <div class="form-group row" ng-repeat="comment in otherComments track by $index">
            <textarea class="form-control" ng-model="comment" readonly rows="1"> </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Hvor fornøyd er studentene (1 overhodet ikke fornøyd, 5 svært godt fornøyd)
        </div>
        <div class="card-body">
          <canvas chart-data="happyData" chart-labels="labels"
                  class="chart chart-bar" id="happyBarChar"> chart-series="series"
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Har studentene lært mye (1 overhodet ikke, 5 svært mye)
        </div>
        <div class="card-body">
          <canvas chart-data="learnedData" chart-labels="labels"
                  class="chart chart-bar" id="learnedBarChar"> chart-series="series"
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Forstår studentene det de har lært (1 overhodet ikke, 5 svært godt)
        </div>
        <div class="card-body">
          <canvas chart-data="understandData" chart-labels="labels"
                  class="chart chart-bar" id="understandBarChar"> chart-series="series"
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
</div>
</body>
</html>
